.CountDown {
  display: flex;
  gap: 30px;
  color: var(--text-2, red);
  text-align: left;
  font: var(--heading-32-px-bold, 600 24px/30px "Inter", sans-serif);
  align-items: center;
  justify-content: center;
}

.Timer {
  color: white;
  text-align: left;
  font: var(--heading-32-px-bold, 600 20px/30px "Inter", sans-serif);
  background-color: #f94d63;
  padding: 10px 14px;
  border-radius: 4px;
}
