.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}

.NavList {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.NavList li {
  list-style: none;
}

.NavList li a {
  text-decoration: none;
  color: #3734a9;
  text-align: left;
  font: 600 16px "Open Sans", sans-serif;
  position: relative;
}

.NavRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.NavRight button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.NavRight button p {
  color: #3734a9;
  font: 500 18px "Jost", sans-serif;
  position: relative;
}

.btn-login {
  background: #3734a9 !important;
  border-radius: 20px;
  width: 159px;
  height: 50px;
  position: relative;
  color: #ffffff;
  text-align: center;
  font: 600 18px "Jost", sans-serif;
  position: relative;
}
